.SearchInput {
  min-width: 250px;
  border-radius: 10px;
  padding-left: 15px;
  border: none;
}

.SearchBtn {
  background-color: #f87bd3;
  color: #fff;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  border: none;
  font-size: 14px;
  padding: 6px 8px;
  font-weight: bold;
}

.SearchBtn:hover {
  color: #fff;
  background-color: #fd00c2;
}
