.SearchBtn {
  color: black;
  background-color: #a5a9ae;
  border-radius: 10px;
}

.SearchBtn:hover {
  color: black;
  background-color: #ffc107;
  border-color: #ffc107;
}

.SearchInput {
  min-width: 250px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
}
