.card {
  width: 100%;
  max-width: 300px;
  border: 1px solid grey;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  margin: 30px;
}

.cardImgTop {
  width: 100%;
  height: auto;
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.cardTitle {
  margin: 20px;
}

.cardPrice {
  margin: 20px;
}

.ViewDetails {
  background-color: #fc4dc8;
  border-color: none;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
}

.ViewDetails:hover {
  background-color: #f7a5d7;
  border-color: none;
  color: black;
}
