.CartBtn {
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: #fff;
  border-color: none;
  background-color: #ffc107;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.CartBtn:hover {
  color: black;
  background-color: #ffc107;
}

.CheckoutBtn {
  --bs-btn-hover-bg: #ffc107;
  background-color: #0871db;
}
