.CartBtn {
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  color: #000000;
  background-color: #f87bd3;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.CartBtn:hover {
  color: black;
  background-color: #f87bd3;
}
