.formContainer {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.formHeader {
  text-align: center;
  margin-bottom: 30px;
}

.formLabel {
  font-weight: bold;
}

.formInput {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formError {
  color: red;
}

.formSubmitButton {
  padding: 6px 20px;
  background-color: #f005ae;
  color: #ffffff;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.formSubmitButton:hover {
  background-color: #f87bd3;
  color: #000000;
}
