.CheckoutLink {
  color: grey;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

.CheckoutLink:hover {
  color: black;
  text-decoration: none;
}

.CheckoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 100vh;
}

.CheckoutHeader {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.CheckoutList {
  list-style: none;
  padding: 0;
}

.CheckoutItem {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.CheckoutProductInfo {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.CheckoutProductImage {
  width: 170px;
  height: 170px;
  margin-right: 50px;
}

.CheckoutProductDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.CheckoutProductName {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.CheckoutProductPrice {
  font-size: 1rem;
}

.SubTotal {
  margin-top: 100px;
}

.CheckoutTotal {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.ContinueShopping {
  font-size: 1rem;
  margin-top: 30px;
}

.CheckoutProductPrice {
  margin-bottom: 0px;
}

.CheckoutDiscountedPrice {
  font-weight: bold;
}

.TrashIcon {
  color: grey;
  cursor: pointer;
  font-size: 15px;
}

.QuantityControl {
  display: flex;
  align-items: center;
  gap: 8px;
}

.QuantityButton {
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 3px 6px;
  margin: 3px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.QuantityButton:hover {
  background-color: #f8cf00;
  color: black; /* Set text color to black on hover */
}

.QuantityValue {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.checkoutActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
